@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #fffaeb;
  --color-primary-100: #fff0c6;
  --color-primary-200: #ffdf88;
  --color-primary-300: #ffd166;
  --color-primary-400: #ffb220;
  --color-primary-500: #f98f07;
  --color-primary-600: #dd6902;
  --color-primary-700: #b74706;
  --color-primary-800: #94360c;
  --color-primary-900: #7a2d0d;
  --color-primary-950: #461502;
}
